<div
  class="overflow-x-auto overflow-y-scroll h-[84vh] md:h-[89vh] w-[95vw] mt-2 mb-5 bg-table-bg text-text-table rounded-2xl fade-in"
>
  <table class="table p-4 rounded-3xl">
    <thead>
      <tr>
        <th></th>
        <th>Currency</th>
        <th>Full Name</th>
        <th>Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historyItem of history; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ historyItem.currency }}</td>
        <td>{{ historyItem.name }}</td>
        <td>{{ historyItem.date | date : "HH:mm dd-MM-yyyy  " }}</td>
        <td>{{ historyItem.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
