<div
  class="p-5 w-[300px] md:w-[500px] mt-10 flex flex-col items-center justify-center gap-3 bg-table-bg shadow-lg rounded-lg fade-in"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
    <select class="select input-md" formControlName="code">
      <option value="" disbaled selected>Currency</option>
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
    <label
      class="input input-bordered input-lg flex items-center justify-center gap-2 w-[200px]"
    >
      <i class="fa-solid fa-user"></i>
      <input
        type="text"
        placeholder="Full Name"
        class="w-5/6 focus:outline-none"
        formControlName="fullName"
      />
    </label>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
<div
  class="p-5 w-[300px] md:w-[500px] h-[200px] mt-10 flex flex-col items-center justify-center gap-3 bg-table-bg shadow-lg rounded-lg fade-in"
>
  <app-loader [display]="loading"></app-loader>
  <div *ngIf="!loading">
    <app-result-view [value]="response.value" [code]="code"></app-result-view>
  </div>
</div>
